<div class="title">
    <h3>お問い合わせフォーム</h3>
</div>

	<div id="contact">
	    <form action="contact" method="get">
			<p><label>名前：</label><br><input type="text" name="name" size="40"><br></p><br>
			<p><label>本文：<br><textarea name="comments" rows="2" cols="40"></textarea></label></p>
			<p><input type="submit" value="送信" class="btn btn-default"></p>
		</form>
	</div>


<style>
	#contact{
		margin-top: 100px;
		margin-left: 20%;
		margin-bottom: 100px;
	}
	textarea{
		height: 150px;
		width: 400px;
	}
</style>
